.divBienvenido {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  justify-content: space-evenly;
  width: 100vw;
  flex-wrap: wrap ;
  /* height: 100vh; */
  /* background-color: #c5c5c5a2; */
}

.about{
  /* display: flex; */
  font-size: 2vw;
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: center; */
  /* width: 100vw;
  height: 100vh; */
  color : white;
  /* padding-right: 100px ; */
  width: 98%;
  height: 100%;
  background-color: #c5c5c5a2;  
  margin-top: 2em;
  margin-bottom: 2em;
  margin-right: 2em;
  margin-left: 0.5em;
  padding: 5px;
  border-radius: 25px ;
  /* line-height : 1px; */
  
}


.title {
  font-size: 4vh;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: rgb(27, 93, 5)
}

.subtitle {
  font-size: 200%;
  text-align: center;
  padding: -10%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.searchBar{
  display: flex;
  justify-content: flex-end;
  
}

.unorderedList {
  list-style-type: none;
  padding: 0;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  align-self: stretch;
  justify-content: center;
  flex-wrap: wrap ;
  
}


.listItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 15vw;
  height: 15vh;
  background-color: #fcff4f;
  padding: 1em;
  margin: 5px;
  font-weight: 500;
  border-radius: 5%;
}
.listItem:hover {
  background-color: #262623c9;
  color: beige;
}

.listItem img {
  width: 50px;
  object-fit: cover;
  margin: 15px;
}
.card{
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: top;
  width: 21vw;
  height: 100%;
  background-color: #c5c5c5a2;  
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
  margin: 1%;
  /* padding: 5px; */
  border-radius: 25px ;
  line-height : 1px;
  font-size: 0.5em;
}
.card:hover {
  background-color: #6de781c9;
  color: beige;
}
.card img {
  width: 90%;
  /* object-fit: cover; */
  /* margin: 15px; */
  border-radius: 25px ;
  border:4px;
  border-color: black; 
   
}
.button {
  background-color: #4CAF50; /* Green */
  border-radius: 25px ;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2.0vw;
}
.xbutton{
  background: transparent;
  
  border: none;
  width: 7vh;
  height: 25%;
  text-align: center;
  text-decoration: none;
  

}
.xbutton img{
 /* background-image: "https://i.pinimg.com/originals/78/a9/6d/78a96d96ffa60a4477d0f17e9bd55a36.png"; */
    display: block;
    margin: 0 auto;
    align-items:left;
  align-self: stretch;
  /* border-radius: 10px ; */
  background: transparent;
  
}
.imagenes{
  /* background-image: "https://i.pinimg.com/originals/78/a9/6d/78a96d96ffa60a4477d0f17e9bd55a36.png"; */
   display: block;
   margin: 0 auto;
   width: 100%;
   height: 100%;
   align-items:left;
   align-self: stretch;

   border-radius: 10px ;
   background: transparent;
   
 }
.warning {
  font-size: 2em;
  border: solid red 1px;
  border-radius: 0.2em;
}

.danger {
  font-size: 2em;
  color: red;
  margin-left: 2em;
}

/* -------------------- Buzz --------------------  */
@-webkit-keyframes hvr_buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr_buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr_buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr_buzz:hover, .hvr_buzz:focus, .hvr_buzz:active {
  -webkit-animation-name: hvr_buzz;
  animation-name: hvr_buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* -------------------- Hang -------------------- */
@-webkit-keyframes hvr_hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hvr_hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@-webkit-keyframes hvr_hang_sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hvr_hang_sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
.hvr_hang {
  background: transparent;
  border: none;
  width: 7vh;
  height: 25%;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr_hang:hover, .hvr_hang:active {
  -webkit-animation-name: hvr_hang_sink, hvr_hang;
  animation-name: hvr_hang-sink, hvr_hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
